{% extends "_base.html" %}
{% load static %}
{% load staticfiles %}

{% block title %}
  {{ owner }} dashboard
{% endblock %}

{% block custom_styles %}
  <link rel="stylesheet" href='{% static "css/app.css" %}'>
{% endblock %}

{% block content %}


<div id="app">


<div id="layout" class="" v-bind:class="panel_state">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link" v-bind:class="panel_state" v-on:click='tooglePanel'>
        <!-- Hamburger icon -->
        <span></span>
    </a>

    {% include "menu.html" %}  


    <div id="main" class="" v-bind:class="panel_state">
        <div class="header">
            <h2>{{ owner }} dashboard</h2>
        </div>
        <div class="content content-is-center">
          <div class="pure-g">
            <div class="pure-u-1">
              <h4>your balance:</h4>
              <h2>{{ balance_report.balance|floatformat }} COP</h2>
            </div>
            <div class="pure-u-1-2">
              <p><a class="detail-link" href="{% url 'detail' 'outcome' %}  ">outcome:</a></p>
              <h4>{{ balance_report.expenses|floatformat }} COP</h4>
            </div>
            <div class="pure-u-1-2">
              <p><a class="detail-link" href="{% url 'detail' 'income' %}">income:</a></p>
              <h4>{{ balance_report.incomes|floatformat }} COP</h4>
            </div>
          </div>
        </div>
    </div>

</div>
</div>


{% endblock %}


{% block final_scripts %}
  <script type="text/javascript" src='{% static "js/inner_app.js" %}'></script>
{% endblock %}
