    {% load static %}
    <div id="menu" class="" v-bind:class="panel_state">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="{% url 'settings' %}">{{ user }}</a>

            <ul class="pure-menu-list">
              {% if user.is_authenticated %}
                <li class="pure-menu-item {{ nav_new_transaction }}"><a class="pure-menu-link" href="{% url 'new-transaction' %}">New</a></li>
                <li class="pure-menu-item {{ nav_dashboard }}"><a class="pure-menu-link" href="{% url 'dashboard' %}">Balance</a></li>
                <li class="pure-menu-item {{ nav_logout }}"><a class="pure-menu-link" href="{% url 'logout' %}">Logout</a></li>
              {% else %}
                <li class="pure-menu-item {{ nav_login }}"><a class="pure-menu-link" href="{% url 'login' %}">Login</a></li>
                <li class="pure-menu-item {{ nav_signup }}"><a class="pure-menu-link" href="{% url 'signup' %}">Register</a></li>
              {% endif %}
            </ul>
        </div>
    </div>